.container-fluid{
    background-color:#58bbae;
}

.nav-link{
    margin-left: 30px;
    line-height: 1.62rem;
    font-size: 1,6rem;
    font-family: Verdana;
    padding: 0.5rem;
    transition: 0.3s ease-in-out all;
    font-weight: 500;
    color: white;
}



.btn-outline-success{
  background-color: white;
  border: 1px solid #58bbae;
}

.btn-outline-success:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #58bbae;
  border: 2px solid #58bbae
}
