.container-fluid{
    background-color:#58bbae;
}

.nav-link{
    margin-left: 80px;
    line-height: 1.6rem;
    font-size: 1,6rem;
    font-family: Verdana;
    padding: 0.5rem 0;
    transition: 0.3s ease-in-out all;
    font-weight: 300;
}
.navbar-nav > .active > a {
    color: red;
    background-color: white;    
  }
  .nav-item > a:hover {
    color: aqua;
  }