.login-design{
    padding: 0;
    margin:0;
    display: grid;
    grid-template-columns: repeat(2,50%);
    height: 40%;
}
.pastel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-data h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 8px;
    font-weight: 300;
    color: rgb(61, 59, 59);
  }

.btn-login{
    margin-top: 10px;
    margin-left: 70px;
    border-radius: 3rem;
    width: 55%;
    border: 1px solid #58bbae;
    line-height: 1.6rem;
    font-size: 1.08rem;
    font-family: Verdana;
    background-color: #58bbae;
    color: #ffffff;
    padding: 0.5rem 0;
    transition: 0.3s ease-in-out all;
    font-weight: 500;
}

.btn-login:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #58bbae;
}